<!DOCTYPE html>
<html>
<title>COVID-19 Detection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="./bootstrap.min.css">
  <script src="./jquery.min.js"></script>
  <script src="./popper.min.js"></script>
  <script src="./bootstrap.min.js"></script>
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style> 
<body class="w3-light-grey">

  <div class="container w3-margin-top">
    <!-- Header -->
     <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>COVID-19 Detection Probablity</b></h1>
    <h6>This is a <span class="w3-tag">machine learning</span>trained model  which provide the probability of virus based on the 4070 trained data according your given data.</h6>
  
  </header>

    </br>
        <div class="col-sm-6">
          <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Please fill your details.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p class="w3-opacity">Our trained system will tell you how much chances of Corona virus you have inside.</p>
   <form action="/" method="POST">
      <div class="w3-section">
        <label class="fa fa-thermometer w3-text-red"> Fever Temperature</label>
        <input type="number" class="form-control" name="fever"  required  onkeypress="javascript:return isNumber(event)" id="fever"  placeholder="°F">
      </div>
      <div class="w3-section">
        <label class="fa fa-calendar w3-text-red"> Suffering in fever (days)</label>
         <input type="number" class="form-control" required name="feverDays" id="feverDays" onkeypress="javascript:return isNumber(event)"  placeholder="Suffering (days)">
      </div>

      <div class="w3-section">
        <label class="fa fa-child w3-text-red"> Age</label>
         <input type="number" class="form-control" required name="age" id="age" onkeypress="javascript:return isNumber(event)" placeholder="Your age">
      </div>
      <div class="w3-section">
        <label class="fa fa-heartbeat w3-text-red"> Tiredness</label>
            <select class="form-control" id="tiredness" required name="tiredness">
                <option Value="-1">No Tiredness</option>
                <option Value="0">Little Tiredness</option>
                <option Value="1">Severe Tiredness</option>
            </select>
      </div>

       <div class="w3-section">
       <label class="fa fa-meh-o w3-text-red"> Cough</label>
      <select class="form-control" required id="cough" name="cough">
        <option Value="-1">No Cough</option>
        <option Value="0">Little Cough</option>
        <option Value="1">Severe Cough</option>
      </select>
      </div>

      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom fa fa-binoculars" > Virus Probablity</button>
    </form>  
  </div>
        </div>
  </div>
<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
}

  // WRITE THE VALIDATION SCRIPT.
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;

        return true;
    }    
</script>

</body>
</html>
